.sizingTracksWrapper {
  display: grid;
  height: 600px;
  grid-gap: 20px;
  // grid-template-columns: repeat(4,1fr);
  //   grid-template-columns: auto 1fr auto 1fr;
  grid-template-columns: 50% 2fr 1fr 1fr;
  grid-template-rows: 1fr 10fr 1fr 1fr;
  // grid-template-columns: 500px 2fr 1fr;
  .item-5 {
    background-color: color(white);
  }
}
